<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui,' + (navigator.userAgent.indexOf('Android') > -1 ? ',target-densitydpi=device-dpi' : ''"/>

    <!-- Make the page no chache -->
    <meta http-equiv="pragma" content="no-cach" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <link rel="shortcut icon" href="http://localhost:3000/favicon.ico?v=2" />

	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
{{{body}}}
</body>
</html>
